.title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px 0;
}
.title button{
    border: none;
    border-radius: 20px;
    background-color: rgb(76, 222, 130);
    margin-left: 50px;
}

.title button:last-child{
    background-color: brown;
}


tbody{
    padding: 5px;
}

tbody button{
    border: none;
}


tbody .edit{
    padding: 5px 0 5px 0;
    width: 70px;
    background-color: rgb(228, 228, 145);

}

tbody .borrar{
    margin-top: 5px;
    padding: 5px 0 5px 0;
    width: 70px;
    background-color: rgb(212, 123, 123);

}

tbody .edit:active{
    background-color: rgb(222, 222, 88);
}

tbody .borrar:active{
    background-color: rgb(209, 88, 88);
}